block pageData
	-
		page = {}
		page.title = 'Mobile App Landing Page'

extends /templates/default.jade

block content

	include /includes/header.jade
	include /includes/features.jade
	include /includes/about.jade
	include /includes/testimonials.jade
	include /includes/plans.jade
	include /includes/contact.jade
	include /includes/footer.jade
