-
	features = [
		{
			icon: 'computer',
			title: 'Flat Design'
		},
		{
			icon: 'target',
			title: 'Marketable'
		},
		{
			icon: 'photo',
			title: 'Edit Photos'
		},
		{
			icon: 'colors',
			title: 'Edit Colors'
		},
		{
			icon: 'user',
			title: 'User Friendly'
		},
		{
			icon: 'cog',
			title: '100% Editable'
		}
	]
