-
	plans = [
		{
			features: [
				'Feature 1',
				'Feature 2',
				'Feature 3',
				'Feature 4',
				'Feature 5'
			],
			name: 'Basic',
			price: '19.99'
		},
		{
			features: [
				'Feature 1',
				'Feature 2',
				'Feature 3',
				'Feature 4',
				'Feature 5'
			],
			name: 'Standard',
			price: '39.99'
		},
		{
			features: [
				'Feature 1',
				'Feature 2',
				'Feature 3',
				'Feature 4',
				'Feature 5',
				'Feature 6'
			],
			name: 'Deluxe',
			price: '59.99'
		},
		{
			features: [
				'Feature 1',
				'Feature 2',
				'Feature 3',
				'Feature 4',
				'Feature 5'
			],
			name: 'Unlimited',
			price: '79.99'
		}
	]
