-
	socialNetworks = [
		{
			icon: 'fab fa-twitter',
			name: 'Twitter'
		},
		{
			icon: 'fab fa-facebook-f',
			name: 'Facebook'
		},
		{
			icon: 'fab fa-pinterest',
			name: 'Pinterest'
		},
		{
			icon: 'fab fa-google-plus-g',
			name: 'Google+'
		},
		{
			icon: 'fab fa-linkedin-in',
			name: 'Linkedin'
		},
		{
			icon: 'fab fa-youtube',
			name: 'YouTube'
		}
	]
