-
	socialNetworks = [
		{
			icon: '??',
			name: 'Twitter'
		},
		{
			icon: '??',
			name: 'Facebook'
		},
		{
			icon: '??',
			name: 'Pinterest'
		},
		{
			icon: '??',
			name: 'Google+'
		},
		{
			icon: '??',
			name: 'Linkedin'
		},
		{
			icon: '??',
			name: 'YouTube'
		}
	]
