-
	testimonials = [
		{
			text: 'Excepturi necessitatibus vel aliquam alias? Quas tempore, deleniti, alias aperiam, saepe adipisci aut laboriosam molestias maxime quos suscipit eius impedit. Ex, officia.',
			name: 'Bruce Dickinson'
		},
		{
			text: 'Ratione fugit quae dicta voluptate corporis quis cum porro quo perspiciatis, perferendis? Facere similique dolorum reprehenderit reiciendis culpa nisi, quo amet? Unde?',
			name: 'Steve Harris'
		},
		{
			text: 'Dolore iusto libero, perferendis labore impedit similique, nostrum nulla qui deserunt blanditiis voluptatem explicabo incidunt non tempore dolorem neque sint, suscipit at!',
			name: 'Dave Murray'
		}
	]
