body {
	color: $color-text;
}

a {
	transition: 0.3s;
}

.container-fluid {
	max-width: map-get($container-max-widths, xl);
}

.list-item-icon {
	color: $color-title;
}

.nav-link {
	color: $color-text;

	&:focus,
	&:hover {
		color: $color-text;
	}
}
