section.py-5.section--about
	.container
		header
			h1.section__title= 'Whats Craze all About?'
		.row
			.col-12.col-md-7
				p= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti soluta rem pariatur beatae eum assumenda error quae odit a velit maxime ratione quisquam tenetur quos vel aspernatur, enim qui quaerat.'
				p= 'Ut dicta, eligendi blanditiis culpa dolores ratione dignissimos nisi eius repellat excepturi aliquid laudantium debitis deleniti autem, maxime cum a nulla hic.'
				ul.list-unstyled.pl-3
					li
						span.list-item-icon.fas.fa-angle-right.mr-3
						= 'Lorem ipsum dolor sit amet.'
					li
						span.list-item-icon.fas.fa-angle-right.mr-3
						= 'Lorem ipsum dolor sit amet.'
			.col-12.col-md-5
				div= 'VIDEO'
